@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('fonts/OleoScriptSwashCaps-Regular.ttf');
}

@font-face {
    font-family: 'Starlight';
    src: url('fonts/Starlight Romance.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #f6edbd;
    display: grid;
    grid-template-rows: auto 1fr;
    line-height: 1;
}

.heading {
    padding: 50px;
    text-align: center;
}

.heading h1 {
    margin: 0;
    font-family: 'Starlight';
    font-size: 3rem;
}


.confirmation-of-state-text h1 {
    margin: 0;
    font-family: 'Starlight';
    font-size: 2rem;
    line-height: 1;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: stretch;
    gap: 40px;
    padding: 40px;
}

.boxes img {
    height: 275px;
    width: auto;
    display: block;
}

.basket-cat {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 810px;
    width: 100%;
}

.cat-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cat-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-family: 'Oleo Script Swash Caps';
    line-height: 1;

}

.cat-existence h1 {
    margin: 0 0 20px 0;
    font-size: 5.5rem;
    line-height: 1;
}

.box-contents h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    line-height: 1;
}

p {
    margin: 0;
    line-height: normal;
}
