@font-face {
    font-family: 'typewriter';
    src: url('fonts/JMH Typewriter-Thin.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #f6edbd;
    display: grid;
    grid-template-rows: auto 1fr;
    line-height: 1;
}

.heading {
    padding-top: 50px;
    text-align: center;
}

.heading h1 {
    margin: 0;
    font-family: 'typewriter';
    font-size: 40px;
}


.confirmation-of-state-text h1 {
    margin: 0;
    font-family: 'typewriter';
    font-size: 2rem;
    line-height: 1;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: stretch;
    gap: 40px;
    padding: 40px;
}

.boxes img {
    height: 275px;
    width: auto;
    display: block;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.boxes img:hover {
    filter: drop-shadow(0 0 4px #f6edbd)
            drop-shadow(0 0 8px #f6edbd)
            drop-shadow(0 0 8px rgba(246,237,189,0.7));
    transform: scale(1.05);
}

.basket-cat {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 810px;
    width: 100%;
}

.cat-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cat-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-family: 'typewriter';
    line-height: 1;

}

.cat-existence h1 {
    margin: 0 0 20px 0;
    font-size: 5.5rem;
    line-height: 1;
}

.box-contents h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    line-height: 1;
}

p {
    margin: 0;
    line-height: normal;
}
